html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  margin-bottom: 2rem;
}

body {
  background-color: rgb(218, 87, 113);
}

h1 {
  text-align: center;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  background-color: rgb(241, 128, 151);
  margin: 2vw;
}

.card-header {
  font-size: 3rem;
  background-color: rgb(93, 12, 28);
  margin: 6%;
}

.card-text {
  font-size: 2rem;
  font-family: "yaldevi";
  margin: 2px 10px 0 0%;
  justify-content: space-around;
}

img {
  height: 30rem;
}

.npc {
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 80vw;
  height: 63rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1vh;
}

.card {
  padding: 40px;
  border-radius: 25px;
  box-shadow: 10px 10px;
  background-color: rgb(155, 46, 67);
  color: ;
  color: rgb(226, 127, 147);
  width: 28%;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .card {
    width: 32%;
  }
}

.rating {
  display: block;
}
