html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  margin-bottom: 2rem;
}

body {
  background-color: rgb(218, 87, 113);
}

h1 {
  text-align: center;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  background-color: rgb(241, 128, 151);
  margin: 2vw;
  animation-name: slidein;
  animation-duration: 3s;
}

@keyframes slidein {
  from {
    margin-left: 80%;
    width: 200%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.card-header {
  font-size: 3rem;
  background-color: rgb(93, 12, 28);
  margin: 6%;
}

.card-image {
  height: 29rem;
}

.npc {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 50 0 50;
  padding: 2vh;
}

.card {
  padding: 29px;
  border-radius: 25px;
  box-shadow: 10px 10px;
  background-color: rgb(155, 46, 67);
  color: rgb(226, 127, 147);
  width: 22%;
  text-align: center;
  transition: all 0.2s;
}

.card-text {
  font-size: 2rem;
  font-family: "yaldevi";
  justify-content: space-around;
}

.rating {
  display: block;
  font-size: 2rem;
}

.card:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 1500px) {
  .card {
    width: 52%;
  }
  img {
    height: 25rem;
  }
}

@media screen and (max-width: 380px) {
  h1 {
    font-size: 2.8rem;
  }

  .card-image {
    height: 15rem;
  }

  .card {
    width: 80%;
    padding: 2rem;
  }
  .card-header {
    font-size: 2rem;
  }

  .card-text {
    font-size: 1.4rem;
  }

  .rating {
    font-size: 1.4rem;
  }
}
