html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

body {
  background-color: #454fda;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  background-color: #416beb;
  margin: 2vw;
  padding: 1rem;
  animation-name: scale;
  animation-duration: 2s;
}

@keyframes scale {
  0% {
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
    filter: hue-rotate(360deg);
  }
}

.card-header {
  font-size: 3rem;
  background-color: #0836c1;
  margin: 6%;
}

.card-image {
  height: 29rem;
}

.npc {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 50 0 50;
  padding: 2vh;
}

.card {
  padding: 4rem;
  border-radius: 3rem;
  box-shadow: 1rem 1rem;
  background-color: #3f6ae9;
  color: #6d8dee;
  width: 22%;
  text-align: center;
  transition: all 0.2s;
}

.card-text {
  font-size: 2rem;
  font-family: "yaldevi";
  justify-content: space-around;
}

.rating {
  display: block;
  font-size: 2rem;
}

.card:hover {
  transform: scale(1.05);
}

.tia.card {
  transition: transform 2s;
}

.tia.card:hover {
  transform: rotate(360deg);
}

.beau.card:hover {
  box-shadow: 1rem 1rem 0.5rem #062a96;
}

.eloise.card:hover {
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
}

.kk.card:hover {
  background-color: #678dff;
}

.cherry.card:hover {
  transform: translate(10%, -5%);
}

@media screen and (max-width: 1800px) {
  h1 {
    font-size: 4rem;
  }
  .card {
    width: 57%;
  }
  .card.img {
    height: 23rem;
  }
}

@media screen and (max-width: 380px) {
  h1 {
    font-size: 2.8rem;
  }

  .card-image {
    height: 15rem;
  }

  .card {
    width: 80%;
    padding: 2rem;
  }
  .card-header {
    font-size: 2rem;
  }

  .card-text {
    font-size: 1.4rem;
  }

  .rating {
    font-size: 1.4rem;
  }
}
