html,
body,
* {
  background-color: rgb(218, 87, 113);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  background-color: rgb(241, 128, 151);
  margin: 2vw;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
  font-family: "yaldevi";
}

img {
  height: 30vh;
}

.main {
  display: flex;
  flex-direction: column;
}

.npc {
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 80vw;
  height: 2 8vw;
  margin-left: auto;
  margin-right: auto;
}

.one {
  padding: 40px;
  border-radius: 25px;
  box-shadow: 10px 10px;
  background-color: rgb(155, 46, 67);
  color: ;
  color: rgb(226, 127, 147);
  width: 28%;
  text-align: center;
}
