html,
body,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  margin-bottom: 2rem;
}

body {
  background-color: rgb(218, 87, 113);
}

h1 {
  text-align: center;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  font-size: 5rem;
  background-color: rgb(241, 128, 151);
  margin: 2vw;
}

.card-header {
  font-size: 3rem;
  background-color: rgb(93, 12, 28);
  margin: 6%;
}

img {
  height: 30rem;
}

.npc {
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: 0 auto 0 auto;
  padding: 0.5vh;
}

.card {
  padding: 40px;
  border-radius: 25px;
  box-shadow: 10px 10px;
  background-color: rgb(155, 46, 67);
  color: rgb(226, 127, 147);
  width: 23%;
  text-align: center;
}

.card-text {
  font-size: 2rem;
  font-family: "yaldevi";
  justify-content: space-around;
}

@media screen and (max-width: 769px) {
  h1 {
    font-size: 4rem;
  }

  img {
    height: 15rem;
  }
  .card {
    width: 32%;
    justify-content: space-around;
    height: 40%;
    justify-content: space-evenly;
  }
}

.rating {
  display: block;
  font-size: 2rem;
}
