body {
  margin-top: 50px;
  background-color: rgb(231, 103, 129);
}

h1 {
  text-align: center;
  font-family: "Yaldevi", sans-serif;
  font-weight: 600;
}

p {
  font-size: 20px;
  font-family: "yaldevi";
}
img {
  height: 30vh;
}

.npc {
  display: flex;
  text-align: center;
  justify-content: space-around;
  width: 80vw;
  height: 2 8vw;
  margin-left: auto;
  margin-right: auto;
}

.one {
  padding: 40px;
  border-radius: 25px;
  box-shadow: 10px 10px;
  background-color: rgb(155, 46, 67);
  color: ;
  color: rgb(245, 158, 175);
}
